@import "./fontawesome/all.min.css";

* {
  margin: 0px;
}

p {
  color: white;
}

div {
  user-select: none;
}

/* ::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* ::-webkit-scrollbar:vertical {
    display: none;
} */

::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* ::-webkit-scrollbar-track-piece:start {
    background: white;
} */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.9);
}

/* @import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
/* @import url(http://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+SC&family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap");

@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("../fonts/BeaufortforLOL-Bold.woff.ttf") format("truetype");
}

:root {
  --col-gold: rgb(224, 171, 24);
  --col-mid-gold: rgb(197, 132, 11);
  --col-dark-gold: rgb(158, 114, 18);
  --col-darker-gold: rgb(145, 104, 18);

  --col-background: rgb(28, 28, 31);
  --col-light-bg: #282828;
  --col-lighter-bg: #383838;

  --col-grey: rgb(78, 78, 78);
  --col-light-grey: rgb(94, 94, 94);
  --col-lighter-grey: rgb(124, 124, 124);
  --col-dark-grey: rgb(65, 65, 65);
  --col-darker-grey: rgb(42, 42, 45);

  --col-dark-white: #acacac;

  --col-blue-light-grey: rgb(74, 104, 113);
}

body {
  background-color: var(--col-background);
}

/* .title, #title { */
/* font-family: 'BeaufortforLOL-Bold', Arial, Helvetica, sans-serif; */
/* font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif; */
/* font-family: 'Squada One', Arial, Helvetica, sans-serif; */
/* } */

* {
  font-family: "Quicksand", "Noto Sans SC", "Noto Sans KR", "Noto Sans TC", "Noto Sans JP", sans-serif;
}

#content {
  display: flex;
  flex-direction: column;

  width: 100%;

  align-items: center;
  color: white;
}

.fa-spin-fast {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}

.fa-spin-fast.pause {
  animation-play-state: paused;
}

/* input::placeholder {
  @apply text-gray-300;
} */

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Floating Vue Themes */
/* Style */
/* .v-popper--theme-card-tooltip .v-popper__inner {
  padding: 0px;
  background: rgba(0,0,0,0);
}

.v-popper--theme-card-tooltip .v-popper__arrow-outer {
  border-color: rgba(0, 0, 0, 0);
} */

/* Fixed vue scroller stacking order */
.vue-recycle-scroller__item-view {
  z-index: 1;
}
.vue-recycle-scroller__item-view.hover {
  z-index: 2;
}