aiohttp==3.7.4
altgraph==0.17
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
cx-Freeze==6.3
cx-logging==2.2
Cython==0.29.21
dateutils==0.6.12
future==0.18.2
gevent==21.1.2
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
greenlet==1.0.0
httplib2==0.19.0
idna==2.10
importlib-metadata==2.0.0
infi.systray==0.1.12
msgpack==1.0.0
multidict==5.0.0
Nuitka==0.6.9.6
packaging==20.8
pefile==2019.4.18
picopt==2.2.1
Pillow==8.1.1
pip-review==1.1.0
plumbum==1.7.0
plyer==2.0.0
protobuf==3.13.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyflakes==2.2.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt6==6.0.3
PyQt6-Qt6==6.0.2
PyQt6-sip==13.0.1
PySide2==5.15.2
PySide6==6.0.2
pystray==0.17.1
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==22.0.3
rarfile==4.0
requests==2.24.0
rsa==4.7
shiboken2==5.15.2
shiboken6==6.0.2
sip==5.5.0
six==1.15.0
timeago==1.0.15
toml==0.10.2
twisted-fate @ git+https://github.com/shaobaili3/twisted_fate.git@12596acd168fbd1300c333b5cc91eb81a6347344
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.11
win10toast==0.9
winapps==0.1.6
yapf==0.30.0
yarl==1.6.2
zerorpc==0.6.3
zipp==3.4.0
zmq==0.0.0
zope.event==4.5.0
zope.interface==5.2.0
