
body {
  overflow:hidden; // Weird bug causing strange overflow
}

.invisible {
  display: none;
}

.loading {
  margin: 20px auto;
  font-size: 1.2em;
  height: 25px;
  transition-property: height, margin;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  white-space: nowrap;
}

.loading.zeroHeight {
  height: 0px;
  margin: 0px auto;
}

.errorText {
  margin-top: 20px;
  font-size: 1.2em;
}

#title {
  margin-top: 0px;
  margin-bottom: 40px;
}

#subtitle {
  margin-top: 80px;
  margin-bottom: 20px;
}

#app {
  height: 100%;
}

#history {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  /* min-width: 270px; */
  width: 100%;
  /* margin: 3px 3px 3px 3px; */
  /* font-size: 0.9em; */
}

#content {
  margin-top: 40px;
  height: 100%;
}

.layerpanel {
  position: absolute;
  bottom: 40px;
  // &.fixed {
  //   height: 35px;
  //   position: fixed;
  //   z-index: 20;
  // }
  // padding: 5px;
  // height: 50px;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  background: var(--col-background);
  box-sizing: border-box;
  z-index: 10;
  transition: height 0.2s ease;

  overflow: hidden;

  // &:hover {
  //   height: max(50%, 200px);
  // }
  &.second {
    height: 0px;
    padding: 0px;
    z-index: 14;
    overflow: hidden;
  }
  &.expanded {
    overflow-y: scroll;
    height: calc(100% - 43px - 40px - 50px); // header, footer, nav
    &.fixed {
      height: calc(100vh - 43px);
    }
    padding: 0px;
    &.second {
      height: 100%;
      padding: 0px;
      bottom: 0px;
    }
  }
  .btn {
    background: var(--col-dark-grey);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &.btn-delete {
      display: none;
    }
    &.btn-back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: sticky;
      top: 0px;
      margin-bottom: 2px;
      border-radius: 0px 0px 8px 8px;
      color: var(--col-dark-white);

      z-index: 20;
    }
    &:hover {
      background: var(--col-grey);
      color: white;
    }
  }
}

.tabs {
  display: flex;
  position: sticky;
  top: 40px;
  width: calc(100% - 20px);
  max-width: 280px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  z-index: 2;
  background: var(--col-background);
}

.tab-title-group {
  flex: 1 1 0;
  display: flex;
  background: var(--col-dark-grey);
  padding: 5px 0px;
  border-radius: 20px;
}

.tab-title {
  flex: 1 1 0;
  color: var(--col-lighter-grey);
  cursor: pointer;
  text-align: center;
  background: var(--col-dark-grey);
  padding: 0px 0px;
  border-radius: 20px;
}

.tab-title:hover {
  color: white;
  /* background: var(--col-grey); */
}

.tab-title.active {
  color: white;
}

.footer {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-text {
    display: block;
    text-align: center;
    width: 100%;
  }
}
