.mobile-btn {
  display: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 595px) {
  .scrollDown .sticky-top {
    transform: translateY(-100%);
  }

  .mobile-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;

    padding: 6px 15px;
    border-bottom-right-radius: 10px;

    z-index: 4;

    &:active {
      background: var(--col-lighter-bg);
    }
  }

  .left-nav {
    left: -80px;
    height: 100%;
    box-sizing: border-box;

    transition: left 0.25s ease;

    &.expanded {
      left: 0px;
    }
  }

  $content-margin-top: 50px;

  html,
  body,
  #app {
    height: 100%;
  }

  .content {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: $content-margin-top;
    height: 100%;
    width: 100%;
    min-width: 0px;

    box-sizing: border-box;
  }

  .deck-content-container.fullheight {
    margin-top: 0px;
    padding-top: $content-margin-top;
    height: calc(100%);
  }

  .fullheight {
    .main-content-container {
      height: 100%;
    }
  }

  .main-content-container {
    padding: 0px 10px;
    width: 100%;

    box-sizing: border-box;

    .info-help {
      .info-lp {
        text-align: right;
        min-width: 50px;
      }

      .info-rank {
        min-width: 40px;
      }
    }
  }

  #btn-group-regions,
  .region-tabs {
    justify-content: center;
  }

  .settings-list-item {
    .locale-changer {
      display: block;

      text-align: left;

      .locale-changer-title {
        padding: 10px 0px;
      }

      .select-container {
        width: 100%;

        .custom-select {
          width: 100%;
        }
      }
    }
  }

  // Player Info Display

  .player-name {
    padding-top: 5px;
  }

  .summary-container {
    display: block;
    position: relative;
    padding: 0px;

    .summary-item {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 0px;

      .detail {
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid var(--col-lighter-grey);

        &:first-child {
          padding-left: 4px;
        }

        .pre-info {
          border-right: none;
        }
      }

      &.decks-summary {
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &.history-summary {
        text-align: left;
        padding-left: 4px;
        div {
          display: inline;
          padding-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  // Match History Display

  .match-history-container {
    .match-history {
      .row {
        // overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        &.decklist {
          // display: block;
          // text-align: left;
          .row.deck {
            // justify-content: flex-start;
            // display: inline-block;
            // width: 30%;
            .row {
              display: block;
              width: 100%;
            }
          }
        }
      }

      .desktop {
        display: none;
      }

      // .default {
      //   display: none;
      // }

      // .vs-text {
      //   display: inline;
      //   padding-left: 0px;

      //   .mobile, .match-info-title, .opponent-info {
      //     display: inline;
      //   }
      // }
    }
  }
}
